﻿@model List<TouristSystem.Models.PlaceCount>

@{
    ViewBag.Title = "Place Tourists";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Records</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Place Name
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.HardwareName</td>
                            <td>
                                @if (item.Count < 1)
                                {
                                    <span>0</span>
                                }
                                else
                                {
                                    <span>@Html.ActionLink(item.Count.ToString(), "GetPlaceCount", new { id = item.HardwareId })</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>
