﻿@model List<TouristSystem.Models.NationalityCount>

@{
    ViewBag.Title = "Place Tourists";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Records</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Nationality
                        </th>
                        <th>
                            Count
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Nationality
                            </td>
                            <td>
                                @item.Count
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>
