﻿@model List<TouristSystem.Models.Record>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding-top: 15px;">
    <div class="col-md-12">
        <form method="get" action='@Url.Action("Index")'>
            <div class="panel panel-primary">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <div class="form-group col-md-12 col-lg-6">

                        <label class="control-label">From</label>
                        <input type="datetime" id="from" name="from" class="form-control" placeholder="From" />
                    </div>

                    <div class="form-group col-md-12 col-lg-6">
                        <label class="control-label">To</label>
                        <input type="datetime" id="to" name="to" class="form-control" placeholder="To" />
                    </div>

                    <input type="submit" value="Search" class="btn btn-primary pull-right" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Records</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Place Name
                        </th>
                        <th>
                            Temperture
                        </th>
                        <th>
                            Humidity
                        </th>
                        <th>
                            Lux
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>
                    @foreach (var record in Model)
                    {
                        <tr>
                            <td>@record.Hardware.Name</td>
                            <td>@record.Temperture</td>
                            <td>@record.Humidity</td>
                            <td>@record.Lux</td>
                            <td>@record.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#from').datetimepicker();
        $('#to').datetimepicker();
    });
</script>